<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header class="header">
        <a href="#" class="logo">Welcome</a>
        <nav class="nav-items">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </nav>
      </header>

      <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis augue mauris, nec consectetur metus interdum ut. Morbi non dictum ligula. 
            Vestibulum vitae ex maximus, finibus dolor non, finibus nunc. 
            Phasellus erat velit, congue eget efficitur vitae, commodo in libero. Curabitur tincidunt fermentum enim vel lobortis. Pellentesque habitant morbi 
            tristique senectus et netus et malesuada fames ac turpis egestas. Nam enim nisl, viverra nec tristique sit amet, tempor ac nulla.
             Morbi condimentum alacus at ultricies. Aliquam consectetur dapibus enim. Donec mollis nibh nec est congue, sed pretium urna sollicitudin.
              Donec rutrum rhoncus urna in porttitor.
              Donec vitae tellus ultrices, hendrerit urna non, finibus ipsum. Integer tortor sapien, feugiat quis enim ut, tincidunt dignissim nunc.
               Maecenas dapibus, 
              urna vitae volutpat hendrerit, diam felis egestas leo, nec eleifend leo elit sed est. Integer ac mauris at odio luctus semper.</p>
      </main>


      <footer class="footer">
            <span>More Info</span>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>        
      </footer>
    <script src="app.js"></script>
</body>
</html>